{% extends "layout.html" %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home2.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ params['blog_title'] }}</h1>
                    <span class="subheading">{{ params['blog_subheading'] }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}

            <!-- Fetch it from the database using for loop -->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title"> {{ post.title }}

                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.tagline }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Varad Bhogayata</a>
                    on {{ post.date }}</p>
                {{ post.content[0:300] }} ...
            </div>
            <hr>

            {% endfor %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous</a>
                <a class="btn btn-primary float-right" href="{{next}}">Next →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
